﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="index-2.html">Webmarket</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="about-us.html">My Account</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">



            <aside class="span3">
                <div class="sidebar-item">



                    <div>
                        <h3><span class="light">My</span> Account</h3>
                    </div>



                    <div class="row">
                        <div class="span3">
                            <div class="widget">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="@Url.Action("Index","Manage")">Account Dashboard <i class="icon-caret-right pull-right"></i></a></li>
                                    <li><a href="@Url.Action("Index","Manage")">Change Password <i class="icon-caret-right pull-right"></i></a></li>
                                    <li><a href="#">Account Information <i class="icon-caret-right pull-right"></i></a></li>
                                    <li><a href="@Url.Action("Manage","Product")">Product Manage <i class="icon-caret-right pull-right"></i></a></li>
                                    <li><a href="@Url.Action("OrderRating", "Orders")">Orders Manage <i class="icon-caret-right pull-right"></i></a></li>                                 
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </aside>
            @RenderBody();
        </div>
    </div>
</div>
@RenderSection("scripts", required: false)


