﻿                    
@using SGU_C2CStore.Models   
@{
    ApplicationDbContext db = new ApplicationDbContext();
    Photo photo = new Photo();
    List<Photo> list = db.Photos.ToList();
    List<Photo> listphoto;
    int total = 0;
    int count = 0;
    if (Session["Cart"] != null)
    {
        foreach (Product product in (List<Product>)Session["Cart"])
        {
            total = total + 1;
            count = count + product.Price;
        }
    }
    string URL = Request.Url.AbsoluteUri;
}
 <div class="span3">
                            <div class="cart-container" id="cartContainer">
                                <div class="cart">
                                    <p class="items">CART <span class="dark-clr">(@total)</span></p>
                                    <p class="dark-clr hidden-tablet">@count VNĐ</p>
                                    @if (Session["Cart"] != null)
                                    {
                                    <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-danger">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                    }
                                    @if (Session["Cart"] == null)
                                    {
                                    <a href="@Url.Action("Index", "Products")" class="btn btn-danger">
                                        <i class="icon-shopping-cart"></i>
                                    </a>
                                    }
                                </div>
                                @if (Session["Cart"] != null)
                                {
                                <div class="open-panel">
                                   
                                        @foreach (Product product in (List<Product>)Session["Cart"])
                                        {
                                            listphoto = list.Where(i => i.ProductId == product.Id).ToList();
                                    <div class="item-in-cart clearfix">
                                        <div class="image">                                        
                                            <img src="~/Images/@listphoto[0].URL" width="124" height="124" alt="cart item" />              
                                        </div>
                                        <div class="desc">
                                            <strong><a href="@Url.Action("Details", new { id = product.Id })">@product.Name</a></strong>
                                            
                                            <span class="light-clr qty">
                                                <a href="@Url.Action("RemoveFormCart", "ShoppingCart", new { id = product.Id, returnUrl = URL })">Remove</a>
                                            </span>
                                        </div>
                                        <div class="price">
                                            <strong>@product.Price</strong>
                                        </div>
                                    </div>
                                        }
                                   

                                    <div class="summary">
                                       
                                        <div class="line">
                                            <div class="row-fluid">
                                                <div class="span6">Subtotal:</div>
                                                <div class="span6 align-right size-16">@count VNĐ</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="proceed">
                                        <a href="@Url.Action("Index", "ShoppingCart")" class="btn btn-danger pull-right bold higher">CHECKOUT <i class="icon-shopping-cart"></i></a>                                       
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
