﻿@model  SGU_C2CStore.Models.ForgotPasswordViewModel
@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{

<div id="forgotPassModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="forgotPassModalLabel" aria-hidden="true">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotForm", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="forgotPassModalLabel"><span class="light">Forgot</span> your password?</h3>
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="modal-body">
            <form method="post" action="#">
                <div class="control-group">
                    <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                    <div class="controls">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", placeholder = "Full Name", @required = "required" })
                    </div>
                </div>
                <button type="submit" value="Email Link" class="btn btn-primary input-block-level bold higher">
                    SEND ME A NEW PASSWORD
                </button>
            </form>
        </div>

    }
</div>
}