﻿@using SGU_C2CStore.Models
<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<!-- Mirrored from www.proteusthemes.com/themes/webmarket-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Aug 2015 14:57:07 GMT -->

<head >
    <meta charset="utf-8">
    <title>Webmarket HTML Template - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ProteusThemes">
    <script type="text/javascript">
        WebFontConfig = {
            google : {
                families : ['Open+Sans:400,700,400italic,700italic:latin,latin-ext,cyrillic', 'Pacifico::latin']
            }
        };
        $(function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        });
        

    </script>

    <link href="/Assets/user/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/Assets/user/stylesheets/responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="/Assets/user/js/rs-plugin/css/settings.css" type="text/css" />

    <link rel="stylesheet" href="/Assets/user/js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" />

    <link rel="stylesheet" href="/Assets/user/js/prettyphoto/css/prettyPhoto.css" type="text/css" />

    <link href="/Assets/user/stylesheets/main.css" rel="stylesheet">

    <script src="/Assets/user/js/modernizr.custom.56918.js"></script>

    <script src="/Assets/user/js/jquery.MultiFile.js" type="text/javascript" language="javascript"></script>
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Assets/user/images/apple-touch/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Assets/user/images/apple-touch/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Assets/user/images/apple-touch/72.png">
    <link rel="apple-touch-icon-precomposed" href="/Assets/user/images/apple-touch/57.png">
    <link rel="shortcut icon" href="/Assets/user/images/apple-touch/57.png">
    <script>$(function () {
    $("#registerModal").dialog({
        autoOpen: false,
        show: {
            effect: "blind",
            duration: 1000
        },
        hide: {
            effect: "explode",
            duration: 1000
        }
    });
    $("#register").click(function () {
        $("#registerModal").dialog("open");
    });
     
});</script>
  
</head>


<body class="">
    <div class="master-wrapper">

        @*Start Header*@

        <header id="header">
            <div class="darker-row">
                <div class="container">
                    <div class="row">
                        <div class="span4">            
                            @{Html.RenderPartial("_LoginPartial");}                                 
                        </div>
                        <div class="span8">
                            <div class="topmost-line">
                                <div class="higher-line">
                                    <a href="@Url.Action("Index", "Manage")" class="gray-link">My account</a>
                                    &nbsp; | &nbsp;
                                    <a href="@Url.Action("Index", "ShoppingCart")" class="gray-link">Checkout</a>
                                </div>
                                &nbsp;
                                <div class="lang-currency">
                                    <div class="dropdown js-selectable-dropdown">
                                        <a data-toggle="dropdown" class="selected" href="#"><span class="js-change-text"><i class="famfamfam-flag-gb"></i> English (EN)</span> <b class="caret"></b></a>
                                        <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                            <li><a href="#"><i class="famfamfam-flag-gb"></i> English (EN)</a></li>
                                            <li><a href="#"><i class="famfamfam-flag-si"></i> Slovenian (SI)</a></li>
                                            <li><a href="#"><i class="famfamfam-flag-de"></i> German (DE)</a></li>
                                            <li><a href="#"><i class="famfamfam-flag-fr"></i> French (FR)</a></li>
                                            <li><a href="#"><i class="famfamfam-flag-es"></i> Spanish (ES)</a></li>
                                        </ul>
                                    </div>
                                    <div class="dropdown js-selectable-dropdown">
                                        <a data-toggle="dropdown" class="selected" href="#"><span class="js-change-text">USD ($)</span> <b class="caret"></b></a>
                                        <ul class="dropdown-menu js-possibilities" role="menu" aria-labelledby="dLabel">
                                            <li><a href="#">USD ($)</a></li>
                                            <li><a href="#">EUR (€)</a></li>
                                            <li><a href="#">YEN (¥)</a></li>
                                            <li><a href="#">GBP (£)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">



                    <div class="span7">
                        <a class="brand" href='@Url.Action("Index", "Home")'>
                            <img src="/Assets/user/images/logo.png" alt="Webmarket Logo" width="48" height="48" />
                            <span class="pacifico">
                                Webmarket
                            </span>                        
                            <span class="tagline">Really Cool e-Commerce HTML Template</span>
                        </a>
                    </div>



                    <div class="span5">
                        <div class="top-right">
                            <div class="icons">
                                <a href="http://www.facebook.com/ProteusNet"><span class="zocial-facebook"></span></a>
                                <a href="skype:primozcigler?call"><span class="zocial-skype"></span></a>
                                <a href="https://twitter.com/proteusnetcom"><span class="zocial-twitter"></span></a>
                                <a href="http://eepurl.com/xFPYD"><span class="zocial-rss"></span></a>
                                <a href="#"><span class="zocial-wordpress"></span></a>
                                <a href="#"><span class="zocial-android"></span></a>
                                <a href="#"><span class="zocial-html5"></span></a>
                                <a href="#"><span class="zocial-windows"></span></a>
                                <a href="#"><span class="zocial-apple"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        @*Start Menu*@

        <div class="navbar navbar-static-top" id="stickyNavbar">
            <div class="navbar-inner">
                <div class="container">
                    <div class="row">
                        <div class="span9">
                            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>



                            <div class="nav-collapse collapse">
                                <ul class="nav" id="mainNavigation">

                                    <li> @Html.ActionLink("Home", "Index", "Home")</li>
                                    <li>
                                        <a href="@Url.Action("Index","Products")"> Shop </a>                                       
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Manage")"> Account </a>
                                    </li>
                                    <li>@Html.ActionLink("About", "About", "Home")</li>                                                           
                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>


                                @*<form class="navbar-form pull-right" action="#" method="get">
                                    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
                                    {
                                        <button type="submit"><span class="icon-search" ></span></button>
                                        @Html.TextBox("searchString", "", new { @class = "span1", id= "navSearchInput" })
                                    }
                                </form>*@
                                
                                    @using (Html.BeginForm("Index", "Products", FormMethod.Get, new { @class = "navbar-form pull-right" }))
                                    {
                                    <button type="submit"><span class="icon-search"></span></button>
                                    @Html.TextBox("search", "", new { @class = "span3", id = "navSearchInput" })
                                    @*<input type="text" class="span1" name="search" id="navSearchInput">*@
                                    }
                                
                            </div>
                        </div>


                        @{Html.RenderPartial("_CartPartial");}

                    </div>
                </div>
            </div>
        </div>



        @RenderBody()


        @*Start Footer*@
        <footer>



            <div class="foot-light">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <h2 class="pacifico">Webmarket &nbsp; <img src="/Assets/user/images/webmarket.png" alt="Webmarket Cart" class="align-baseline" /></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt vestibulum risus et gravida. Etiam vel augue ligula, blandit malesuada nisi. Quisque a augue nisi. Nullam interdum convallis </p>
                        </div>
                        <div class="span4">
                            <div class="main-titles lined">
                                <h3 class="title">Facebook</h3>
                            </div>
                            <div class="bordered">
                                <div class="fill-iframe">
                                    <div class="fb-like-box" data-href="https://www.facebook.com/ProteusNet" data-width="292" data-height="200" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
                                </div>
                            </div>
                        </div>
                        <div class="span4">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">Newsletters</span> Signup</h3>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Aliquam tincidunt vestibulum risus et gravida.
                            </p>

                            <div id="mc_embed_signup">
                                <form action="http://proteusthemes.us4.list-manage1.com/subscribe/post?u=ea0786485977f5ec8c9283d5c&amp;id=5dad3f35e9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form form-inline" target="_blank" novalidate>
                                    <div class="mc-field-group">
                                        <input type="email" value="" placeholder="Enter your e-mail address" name="EMAIL" class="required email" id="mce-EMAIL">
                                        <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
                                    </div>
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="foot-dark">
                <div class="container">
                    <div class="row">



                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">Main</span> Navigation</h3>
                            </div>
                            <ul class="nav bold">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Shortcodes</a></li>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>



                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">Second</span> Navigation</h3>
                            </div>
                            <ul class="nav">
                                <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                                <li><a href="#">Amet Webmarket Signup</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Latest Tweets Sometging</a></li>
                                <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                            </ul>
                        </div>



                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">Third</span> Navigation</h3>
                            </div>
                            <ul class="nav">
                                <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                                <li><a href="#">Amet Webmarket Signup</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Latest Tweets Sometging</a></li>
                                <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                            </ul>
                        </div>



                        <div class="span3">
                            <div class="main-titles lined">
                                <h3 class="title"><span class="light">Fourth</span> Navigation</h3>
                            </div>
                            <ul class="nav">
                                <li><a href="#">Lorem Ipsum Dolor Sit</a></li>
                                <li><a href="#">Amet Webmarket Signup</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Latest Tweets Sometging</a></li>
                                <li><a href="#">Ipsum Sit Lorem Amet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>



            <div class="foot-last">
                <a href="#" id="toTheTop">
                    <span class="icon-chevron-up"></span>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            &copy; Copyright<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                        </div>
                        <div class="span6">
                            <div class="pull-right">Webmarket HTML Template by <a href="http://www.proteusthemes.com/">ProteusThemes</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


      
     @{Html.RenderPartial("_LoginDialog", (LoginViewModel)ViewBag.Login);}

     @{Html.RenderPartial("_RegisterDialog", (RegisterViewModel)ViewBag.Register);}
        
     @{Html.RenderPartial("_ForgotPassDialog", (ForgotPasswordViewModel)ViewBag.Forgot);}

        </div>



    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "../../../connect.facebook.net/en_US/all.html#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript" src="../../../ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.html"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="/Assets/user/js/jquery.min.js"><\/script>');
    }
    </script>

    <script src="/Assets/user/js/underscore/underscore-min.js" type="text/javascript"></script>

    <script src="/Assets/user/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="/Assets/user/js/rs-plugin/js/jquery.themepunch.plugins.min.js" type="text/javascript"></script>
    <script src="/Assets/user/js/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>

    <script src="/Assets/user/js/jquery.carouFredSel-6.2.1-packed.js" type="text/javascript"></script>

    <script src="/Assets/user/js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
    <script src="/Assets/user/js/jquery-ui-1.10.3/touch-fix.min.js" type="text/javascript"></script>

    <script src="/Assets/user/js/isotope/jquery.isotope.min.js" type="text/javascript"></script>

    <script src="/Assets/user/js/bootstrap-tour/build/js/bootstrap-tour.min.js" type="text/javascript"></script>

    <script src="/Assets/user/js/prettyphoto/js/jquery.prettyPhoto.js" type="text/javascript"></script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDvMjN1g49P1MA2Onsj-GulDkmDuuH6aoU&amp;sensor=false"></script>
    <script type="text/javascript" src="/Assets/user/js/goMap/js/jquery.gomap-1.3.2.min.js"></script>

    <script src="/Assets/user/js/custom.js" type="text/javascript"></script>


    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from www.proteusthemes.com/themes/webmarket-html/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Aug 2015 15:10:09 GMT -->
</html>
