﻿@model  SGU_C2CStore.Models.LoginViewModel
@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{

<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm" , @class = "", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="loginModalLabel"><span class="light">Login</span> To Webmarket</h3>
        </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", placeholder = "Email", @required = "required" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "Password" })
 
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe) Remember me
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary input-block-level bold higher">
                        SIGN IN
                    </button>
                </form>
                <p class="center-align push-down-0">
                    <a data-toggle="modal" role="button" href="#forgotPassModal" data-dismiss="modal">Forgot your password?</a> 

                    
                </p>
                <p class="center-align push-down-0">
                    <a data-toggle="modal" role="button" href="#registerModal" data-dismiss="modal">Don't have account?</a>
                </p>
            </div>
    }
</div>



}
