﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logoutForm" }))
    {
    @Html.AntiForgeryToken()
        <div class="higher-line">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            |
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    }
}
else
{
            <div class="higher-line">
                Wellcome! Please
                <a href="#registerModal" role="button" data-toggle="modal"> Register </a> or
                <a href="#loginModal" role="button" data-toggle="modal"> Login </a>
            </div>
}
