﻿@model  SGU_C2CStore.Models.RegisterViewModel
@using Microsoft.AspNet.Identity
@if (!Request.IsAuthenticated)
{
    <div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form",id = "registerForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="registerModalLabel"><span class="light">Register</span> To Webmarket </h3>
            </div>
            <div class="modal-body">
                <form method="post" action="#">
                    <h5>Thông tin cá nhân</h5>

                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Full Name</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.FullName, new { @class = "input-block-level", placeholder = "Full Name", @required = "required" })
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Gender</label>
                        <div class="controls">
                            @Html.EnumDropDownListFor(m => m.Gender, new { @class = "input-block-level" })

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Birthday</label>
                        <div class="controls">
                            @Html.EditorFor(m => m.Birthday, new { @class = "input-block-level", placeholder = "Birthday", @required = "required" })

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Address</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Address, new { @class = "input-block-level", placeholder = "Address", @required = "required" })

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputUsernameRegister">Phone Number</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input-block-level", placeholder = "Phone Number", @required = "required" })

                        </div>
                    </div>


                    <h5>Thông tin tài khoản</h5>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputEmailRegister">Email</label>
                        <div class="controls">
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", placeholder = "Email", @required = "required" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "Password", @required = "required" })
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label hidden shown-ie8" for="inputPasswordRegister">Password</label>
                        <div class="controls">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-block-level", placeholder = "Password", @required = "required" })
                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger input-block-level bold higher">
                        REGISTER
                    </button>
                </form>
                <p class="center-align push-down-0">
                    <a data-toggle="modal" role="button" href="#loginModal" data-dismiss="modal">Already Registered?</a>
                </p>
            </div>
        }
    </div>

}