﻿@using SGU_C2CStore.Models
@{
    List<OrderDetail> listDetail = ViewBag.Order as List<OrderDetail>;
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
    decimal score = 0;
}

<h2 class="page-title">Manage <span class="fw-semi-bold">User</span></h2>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>ORDER ID</th>
                            <th>PRODUCT NAME</th>
                            <th class="hidden-xs">SELLER & BUYER </th>
                            <th class="hidden-xs">TIME ORDER</th>
                            <th>RATING SCORE</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (OrderDetail order in listDetail)
                        {
                            stt++;
                            score = (order.Rating * 100) / 10;
                            <tr>
                                <td class="hidden-xs">@stt</td>
                                <td>
                                    <span class="fw-semi-bold">@order.OrderId</span>
                                </td>
                                <td>
                                    @order.Product.Name
                                </td>
                                <td class="hidden-xs">
                                    <p class="no-margin">
                                        <small>
                                            <span class="fw-semi-bold">Seller:</span>
                                            <span class="text-muted">&nbsp; @order.Product.User.FullName</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Buyer:</span>
                                            <span class="text-muted">&nbsp; @order.Order.User.FullName</span>
                                        </small>
                                    </p>
                                </td>
                                <td class="hidden-xs text-muted">
                                    @order.Order.OrderTime
                                </td>
                               
                                <td class="width-150">
                                    <div class="progress progress-sm mt-xs js-progress-animate">
                                        <div class="progress-bar progress-bar-success" data-width="@score%" style="width: 0;"></div>
                                    </div>
                                </td> 
                            </tr>
                        }

                    </tbody>

                </table>
                <div class="clearfix">
                </div>
            </div>
        </section>
    </div>
</div>

