﻿@model SGU_C2CStore.Models.EditProfileViewModel
@{
    ViewBag.Title = "ChangeInfo";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<section class="span9">

    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">Create</span> Products</h3>
            </div>
            <div class="span5 align-right sm-align-left">

            </div>
        </div>
    </div>


    <div class="row blocks-spacer">


        @using (Html.BeginForm("ChangeInfo", "Account", FormMethod.Post, new { @class = "form-horizontal form-checkout" }))
        {
            @Html.AntiForgeryToken()

            <div class="control-group">

                <label class="control-label" for="firstName">Full Name<span class="red-clr bold">*</span></label>
                <div class="controls">
                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "span4" } })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                </div>
            </div>

                                    <div class="control-group">
                                        <label class="control-label" for="telephone">Gender<span class="red-clr bold">*</span></label>
                                        <div class="controls">
                                            @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "span4" })
                                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="email">Birthday<span class="red-clr bold">*</span></label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "span4" } })
                                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="addr1">Address<span class="red-clr bold">*</span></label>
                                        <div class="controls">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "span4" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                        <div class="control-group">
                                            <label class="control-label" for="addr2">Phone Number<span class="red-clr bold">*</span></label>
                                            <div class="controls">
                                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="control-group">

                                            <div class="controls">
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>
        }


    </div>


</section>
