﻿
@{
    ViewBag.Title = "Confirm Email1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="@Html.Action("Index", "Home")">Webmarket</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="@Html.Action("Register", "Account")">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">
            <div class="span12">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="span6">

                <h2>@ViewBag.Title.</h2>
                <div>
                    <p>
                        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>


            </div>

        </div>
    </div>
</div>
