﻿@using SGU_C2CStore.Models
@{
    ApplicationUser user = ViewBag.Info as ApplicationUser;
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<section class="span9">

    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">Create</span> Products</h3>
            </div>
            <div class="span5 align-right sm-align-left">

            </div>
        </div>
    </div>


    <div class="row blocks-spacer">
        <div class="row-fluid push-down-20" id="jaka">
            <div class="span4">
                <a href="#"><img src="images/dummy/about-us/profile-1.jpg" alt="person" width="550" height="660"></a>
            </div>
            <div class="span7">
 <div class="sidebar-item opening-time" id="opening_time-4">

        <div class="time-table">
            <dl class="week-day today">
                <dt>Full Name</dt>
                <dd>@user.FullName</dd>
                    </dl>
                    <dl class="week-day today light-bg">
                        <dt>Email</dt>
                        <dd>@user.Email</dd>
                    </dl>
                    <dl class="week-day">
                        <dt>Phone Number</dt><dd>@user.PhoneNumber</dd>
                    </dl>
                    <dl class="week-day light-bg today">
                        <dt>Address</dt><dd>@user.Address</dd>
                    </dl>
                    <dl class="week-day">
                        <dt>BirthDay</dt><dd>@user.Birthday</dd>
                    </dl>
                    <dl class="week-day light-bg">
                        <dt>Date Register</dt><dd>@user.DateRegister</dd>
                    </dl>
                    <dl class="week-day closed">
                        <dt>
                            You Score
                        </dt>
                        <dd>
                            @user.Score
                        </dd>
                    </dl>
                </div>
            </div>
            </div>
            <div class="span1">
                
            </div>
        </div>


    </div>


</section>

