﻿@using SGU_C2CStore.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập";
}
<div class="darker-stripe">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="breadcrumb">
                    <li>
                        <a href="~/Views/Home/Index.cshtml">Webmarket</a>
                    </li>
                    <li><span class="icon-chevron-right"></span></li>
                    <li>
                        <a href="~/Views/Account/Login.cshtml">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">
            <div class="span12">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="span6">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <h3 id="loginModalLabel"><span class="light">Login</span> To Webmarket</h3>
                    </div>
                        <div class="modal-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form method="post">
                                <div class="control-group">
                                    <label class="control-label hidden shown-ie8" for="inputEmail">Username</label>
                                    <div class="controls">

                                        @Html.TextBoxFor(m => m.Email, new { @class = "input-block-level", placeholder = "Email", @required = "required" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label hidden shown-ie8" for="inputPassword">Password</label>
                                    <div class="controls">
                                        @Html.PasswordFor(m => m.Password, new { @class = "input-block-level", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe) Remember me
                                        </label>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary input-block-level bold higher">
                                    SIGN IN
                                </button>
                                <div class="control-group">
                                    <div class="controls">
                                        <p>
                                            @Html.ActionLink("Đăng ký mới", "Register")
                                        </p>
                                        <p>
                                            @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                }
            </div>
            <div class="span6">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
