﻿@using Microsoft.AspNet.Identity
@using SGU_C2CStore.Models
@{
    var currentUser = User.Identity.GetUserName();
    var r = User.IsInRole("Admin");
    ApplicationDbContext db = new ApplicationDbContext();
    List<ApplicationUser> listUsers = ViewBag.Account as List<ApplicationUser>;
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;
    decimal score;
}

<h2 class="page-title">Manage <span class="fw-semi-bold">User</span></h2>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>             
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th>FULL NAME</th>
                            <th>EMAIL</th>
                            <th class="hidden-xs">INFO</th>
                            <th class="hidden-xs">BIRTHDAY</th>
                            <th class="hidden-xs">DATE REGISTER</th>
                            <th>SCORE</th>
                            <th>ROLE</th>
                            <th>LOCK/UNLOCK </th>
                        </tr>
                    </thead>
                    <tbody>
                        
                       
                        @foreach (ApplicationUser user in listUsers)
                        {                  
                            stt= stt + 1;
                            score = (@user.Score * 100) / 10;
                        <tr>
                            <td class="hidden-xs">@stt</td>
                            <td>
                                <span class="fw-semi-bold">@user.FullName</span>
                            </td>
                            <td>
                                @user.Email
                            </td>
                            <td class="hidden-xs">
                                <p class="no-margin">
                                    <small>
                                        <span class="fw-semi-bold">Phone:</span>
                                        <span class="text-muted">&nbsp; @user.PhoneNumber</span>
                                    </small>
                                </p>
                                <p>
                                    <small>
                                        <span class="fw-semi-bold">Address:</span>
                                        <span class="text-muted">&nbsp; @user.Address</span>
                                    </small>
                                </p>
                            </td>
                            <td class="hidden-xs text-muted">
                                @user.Birthday
                            </td>
                            <td class="hidden-xs text-muted">
                                @user.DateRegister
                            </td>
                            <td class="width-150">
                                <div class="progress progress-sm mt-xs js-progress-animate">
                                    <div class="progress-bar progress-bar-success" data-width="@score%" style="width: 0;"></div>
                                </div>
                            </td>
                            <td>
                                
                                @if (Roles.IsUserInRole(currentUser,"SuperAdmin"))
                                {

                                    if (Roles.IsUserInRole(user.UserName,"Admin"))
                                    {
                                    <input type="button" value="Remove Admin" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveRole", "Account", new { userID = user.Id })'" />
                                   }
                                   else
                                   {
                                    <input type="button" value="Add Admin" class="btn btn-danger" onclick="location.href='@Url.Action("AddRole", "Account", new { userID = user.Id })'" />
                                   }
                                }
                                
                            </td>
                            <td class="hidden-xs">
                                @using (Html.BeginForm("Manage", "Profile", FormMethod.Post))
                                {
                                    <div class="btn-group">
                                        @if (user.LockoutEnabled == true) { 
                                        <input type="button" value="Lock" class="btn btn-danger" disabled onclick="location.href='@Url.Action("BlockUser", "Profile", new { userID = user.Id })'" />
                                        <input type="button" value="UnLock" class="btn btn-success" onclick="location.href='@Url.Action("UnBlockUser", "Profile", new { userID = user.Id})'" />
                                        }
                                        @if(user.LockoutEnabled == false) { 
                                            <input type="button" value="Lock" class="btn btn-danger" onclick="location.href='@Url.Action("BlockUser", "Profile", new { userID = user.Id })'" />
                                            <input type="button" value="UnLock" class="btn btn-success"disabled onclick="location.href='@Url.Action("UnBlockUser", "Profile", new { userID = user.Id})'" />
                                            }
                                    </div>
                                }
                            </td>
                        </tr>

                        }

                    </tbody>

                </table>
                <div class="clearfix">         
                </div>
            </div>
        </section>
    </div>
</div>
