﻿@model SGU_C2CStore.Models.AuctionProduct
@using SGU_C2CStore.Models
@{
    Photo photo = new Photo();
    List<Photo> list = ViewBag.Images;
    ViewBag.Title = "Details";
    var auctionID = ViewBag.Auction;
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    string URL = Request.Url.AbsoluteUri;
    ApplicationDbContext db = new ApplicationDbContext();
    var Category = db.Categories.FirstOrDefault(p => p.Id == Model.CategoryId);
}

<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/signalr/hubs"></script>


<section class="span9">
    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">Detail</span> Product</h3>
            </div>
            <div class="span5 align-right sm-align-left">

            </div>
        </div>
    </div>
    <div class="row blocks-spacer">


        <div class="span3">
            <div class="product-preview">
                @for (int i = 0; i < list.Count; i++)
                {
                    if (i == 0)
                    {
                        <div class="picture">
                            <img src="~/Images/@list[i].URL" alt="" width="940" height="940" id="mainPreviewImg" />
                        </div>
                    }
                }

                <div class="thumbs clearfix">
                    @for (int i = 0; i < list.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="thumb active">
                                <a href="#mainPreviewImg"><img src="~/Images/@list[i].URL" alt="" width="940" height="940" /></a>
                            </div>
                        }
                        else
                        {
                            <div class="thumb">
                                <a href="#mainPreviewImg"><img src="~/Images/@list[i].URL" alt="" width="940" height="940" /></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>



        <div class="span6">
            <div class="product-title">
                <h1 class="name"><span class="light">@Html.DisplayFor(model => model.Name)</span></h1>
                <div class="meta">
                    <span data-itemid="@Model.Id" class="tag">@Html.DisplayFor(model => model.CurrentPrice)</span>
                    
                </div>
            </div>
            <div class="product-description">
                <div class="countdown">
                    <span id="clock"></span>
                </div>
                <div class="span4">
                        @Category.Name
                    <br />
                    <span class="zocial-guest"></span> @Html.DisplayFor(model => model.User.FullName)

                </div>

                <form action="#" class="form form-inline clearfix">
                    <input type="text" id="btnBid" placeholder="Bid Now"/>
                    <button id="@Model.Id" class="btnclass btn btn-danger pull-right">Bid</button>  
                </form>
                <hr />


            </div>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-1" data-toggle="tab">@Html.DisplayNameFor(model => model.Description)</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="fade in tab-pane active" id="tab-1">
                    <h3>@Html.DisplayFor(model => model.Name)</h3>

                    <p>@Html.DisplayFor(model => model.Description)</p>

                </div>
            </div>
        </div>
    </div>
</section>

@section scripts2 {
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/auction.js"></script>
    <script src="~/Scripts/jquery.countdown.js"></script>
<script type="text/javascript">

    var time = '@string.Format("{0:yyyy/MM/dd H:mm:ss}",Model.EndTime)'
    var id = '@Model.Id'
    $('#clock').countdown(time)
     .on('update.countdown', function(event) {
         var format = '%H:%M:%S';
          if(event.offset.days > 0) {
                 format = '%-d day%!d ' + format;
               }
           if(event.offset.weeks > 0) {
                format = '%-w week%!w ' + format;
               }
           $(this).html(event.strftime(format));
         })
    .on('finish.countdown', function(event) {
           $(this).html('Stoped!')
             .parent().addClass('disabled');
           $.post("@Url.Action("Stop","Auction")", { id : id} ,function(data){
               alert(data);
           });
        });

</script>
}




