﻿@model SGU_C2CStore.Models.EditProfileViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Your Info";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h2 class="page-title">Account Demo <small>Out of the box form</small></h2>
<div class="row">
    <div class="col-md-7">
        <section class="widget">      
            <div class="body">
                    @using (Html.BeginForm("CheckInfo", "Account", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                    {
                        @Html.AntiForgeryToken()
                      
                        <fieldset class="mt-sm">
                            <legend><i class="fa fa-user"></i>Account Edit Form</legend>
                        </fieldset>
                        <fieldset>
                            <legend class="section">Personal Info</legend>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Full Name <span class="required">*</span></label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control input-transparent" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>             
                                <div class="form-group">
                                    <label class="control-label col-sm-4">Gender</label>
                                    <div class="col-sm-8">
                                        @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control input-transparent" })
                                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        <div class="form-group">
                            <label for="date-of-birth" class="control-label col-sm-4">Date Of Birth <span class="required">*</span></label>
                            <div class="col-sm-6">
                                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "date-picker form-control input-transparent" } })
                                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend class="section">Contact Info</legend>
                       
                        <div class="form-group">
                            <label for="phone" class="control-label col-sm-4">Phone <span class="required">*</span></label>
                            <div class="col-xs-12 col-sm-6">                              
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control input-transparent" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                    
                            </div>
                        </div>
                       
                    </fieldset>
                    <fieldset>
                        <legend class="section">
                            Address                  
                        </legend>
                        <div class="form-group">
                            <label for="address" class="control-label col-sm-4">Address <span class="required">*</span></label>
                            <div class="col-xs-12 col-sm-6">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control input-transparent"}})
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })                         
                            </div>
                        </div>
                    
                    </fieldset>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="submit" class="btn btn-primary">Validate &amp; Submit</button>
                            </div>
                        </div>
                    </div>
                    }
            </div>
        </section>
    </div>  
</div>


@section specific
{
    <!-- page specific scripts -->
    <!-- page libs -->
    <script src="/Assets/admin/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="/Assets/admin/lib/select2/select2.min.js"></script>
    <script src="/Assets/admin/lib/moment/moment.js"></script>
    <script src="/Assets/admin/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/Assets/admin/lib/parsleyjs/dist/parsley.min.js"></script>

    <!-- page application js -->
    <script src="/Assets/admin/js/forms-account.js"></script>
}