﻿<!-- light-blue - v3.1.0 - 2014-12-06 -->
@using SGU_C2CStore.Models
@{
    List<OrderDetail> details = ViewBag.Details as List<OrderDetail>;
    ApplicationUser user = ViewBag.User as ApplicationUser;
    Order order = ViewBag.Order as Order;
    Layout = null;
    int stt = 0;
}
<!DOCTYPE html>
<html>

<!-- Tieu Long Lanh Kute -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <title>Light Blue - Responsive Admin Dashboard Template</title>

    <link href="/Assets/admin/css/application.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/Assets/admin/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
           chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
                      https://code.google.com/p/chromium/issues/detail?id=332189
        */
    </script>
</head>
<body class="background-dark">
    <div class="wrap">

        <div class="content container">
            <h2 class="page-title">Invoice <small>Print optimized page</small></h2>
            <section class="widget">
                <div class="body no-margin">
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            
                        </div>
                        <div class="col-sm-6 col-print-6">
                            <div class="invoice-number text-align-right">
                                #@order.Id / @order.OrderTime
                            </div>                    
                        </div>
                    </div>
                    <hr>
                    <section class="invoice-info well">
                        <div class="row">
                            <div class="col-sm-6 col-print-6">

                            </div>
                            <div class="col-sm-6 col-print-6 client-details">
                                <h4 class="details-title">Client Information</h4>
                                <h3 class="client-name">
                                    @user.FullName
                                </h3>
                                <address>
                                    <strong>@user.Address</strong>                                  
                                    <abbr title="Work email">e-mail:</abbr> <a href="mailto:#">@user.Email</a><br>
                                    <abbr title="Work Phone">phone:</abbr> @user.PhoneNumber<br>                                   
                                    <div class="separator line"></div>                         
                                </address>
                            </div>
                        </div>
                    </section>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item</th>
                                <th class="hidden-xs">Description</th>                               
                                <th class="hidden-xs">Seller</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (OrderDetail detail in details) {
                                stt++;
                            <tr>
                                <td>@stt</td>
                                <td>@detail.Product.Name</td>
                                <td class="hidden-xs">@detail.Product.Description</td>
                                
                                <td class="hidden-xs">@detail.Product.User.FullName</td>
                                <td>@detail.ProductPrice</td>
                            </tr>
                                }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 col-print-6">
                            
                        </div>
                        <div class="col-sm-6 col-print-6">
                            <div class="row text-align-right">
                                <div class="col-xs-6"></div> <!-- instead of offset -->
                                <div class="col-xs-3">

                                    <p class="no-margin"><strong>Total</strong></p>
                                </div>
                                <div class="col-xs-3">

                                    <p class="no-margin"><strong>@order.Total</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="btn-toolbar mt-lg text-align-right hidden-print">                       
                        <button onclick="location.href='@Url.Action("ExportPDF", "Orders",new{ orderId= order.Id , userId = user.Id })'" id="print" class="btn btn-default">
                            <i class="fa fa-print"></i>
                            &nbsp;&nbsp;
                            Print
                        </button>
                        <button class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Home")'">
                            Back to Home
                            &nbsp;
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </section>
        </div>
        <div class="loader-wrap hiding hide">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    </div>
    <!-- common libraries. required for every page-->
    <script src="/Assets/admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Assets/admin/lib/jquery-pjax/jquery.pjax.js"></script>
    <script src="/Assets/admin/lib/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="/Assets/admin/lib/widgster/widgster.js"></script>
    <script src="/Assets/admin/lib/underscore/underscore.js"></script>

    <!-- common application js -->
    <script src="/Assets/admin/js/app.js"></script>
    <script src="/Assets/admin/js/settings.js"></script>

    <!-- common templates -->
    <script type="text/template" id="settings-template">
        <div class="setting clearfix">
            <div>Background</div>
            <div id="background-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% dark = background == 'dark'; light = background == 'light';%>
                <button type="button" data-value="dark" class="btn btn-sm btn-default <%= dark? 'active' : '' %>">Dark</button>
                <button type="button" data-value="light" class="btn btn-sm btn-default <%= light? 'active' : '' %>">Light</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Sidebar on the</div>
            <div id="sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% onRight = sidebar == 'right'%>
                <button type="button" data-value="left" class="btn btn-sm btn-default <%= onRight? '' : 'active' %>">Left</button>
                <button type="button" data-value="right" class="btn btn-sm btn-default <%= onRight? 'active' : '' %>">Right</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>Sidebar</div>
            <div id="display-sidebar-toggle" class="pull-left btn-group" data-toggle="buttons-radio">
                <% display = displaySidebar%>
                <button type="button" data-value="true" class="btn btn-sm btn-default <%= display? 'active' : '' %>">Show</button>
                <button type="button" data-value="false" class="btn btn-sm btn-default <%= display? '' : 'active' %>">Hide</button>
            </div>
        </div>
        <div class="setting clearfix">
            <div>White Version</div>
            <div>
                <a href="../white/index.html" class="btn btn-sm btn-default">&nbsp; Switch &nbsp;   <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </script>

    <script type="text/template" id="sidebar-settings-template">
        <% auto = sidebarState == 'auto'%>
        <% if (auto) {%>
        <button type="button"
                data-value="icons"
                class="btn-icons btn btn-transparent btn-sm">
            Icons
        </button>
        <button type="button"
                data-value="auto"
                class="btn-auto btn btn-transparent btn-sm">
            Auto
        </button>
        <%} else {%>
        <button type="button"
                data-value="auto"
                class="btn btn-transparent btn-sm">
            Auto
        </button>
        <% } %>
    </script>

    <!-- page specific scripts -->
    <!-- page specific libs -->
    <!-- page application js -->

</body>

<!-- Tieu Long Lanh Kute -->
</html>
