﻿@using Microsoft.AspNet.Identity
@using SGU_C2CStore.Models;
@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    var userId = User.Identity.GetUserId();
    ApplicationUser user = ViewBag.Account as ApplicationUser;
    List<OrderDetail> details = ViewBag.ListOrderDetails as List<OrderDetail>;
    List<Order> orders = ViewBag.ListOrders as List<Order>;
    int i = 0;
}
<section class="span9">

    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">Create</span> Products</h3>
            </div>
            <div class="span5 align-right sm-align-left">

            </div>
        </div>
    </div>


    <div class="row blocks-spacer">
        @*thông tin tài khoản của bạn*@
        <div class="underlined push-down-20" style="margin-left:10%; margin-top:5%">

            <div class="row">
                <div class="col-md-3">
                    <h2><p>My Account and Orders  </p></h2>

                    <p style="font-size:16pt">Hello: @user.FullName</p>
                    @*bỏ phần sửa thông tin vào đây*@

                    <hr />
                    <div class="row-fluid">
                        <div class="span1">
                           
                        </div>
                        <div class="span1">
                            <p>Order Id</p>
                        </div>
                        <div class="span3">
                            <p>Order Time</p>
                        </div>
                        <div class="span3">
                            <p>Ship Time</p>
                        </div>
                        <div class="span2">
                            <p>Ship Address</p>
                        </div>
                        <div class="span2">
                            <p>Total</p>
                        </div>
                    </div>
                    @foreach (var order in orders)
                    {
                    <div class="accordion-group accordion-style-2">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@order.Id">
                                <div class="row-fluid">
                                    <div class="span1">
                                        <span class="bg-for-icon "><i class="icon-minus"></i><i class="icon-plus"></i></span>
                                        </div>
                                    <div class="span1">
                                        <p>@order.Id</p>
                                        </div>
                                        <div class="span3">
                                            <p>@order.OrderTime</p>
                                        </div>
                                        <div class="span3">
                                            <p>@order.ShipTime</p>
                                        </div>
                                        <div class="span2">
                                            <p>@order.ShipAddress</p>
                                        </div>
                                        <div class="span2">
                                            <p>@order.Total</p>
                                        </div>
                                    </div>
                                   
                            </a>
                        </div>
                        <div id="@order.Id" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-theme table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Seller</th>
                                            <th>ShipTime</th>
                                            <th>Rating</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        @foreach (var detail in details.Where(p=>p.OrderId==order.Id))
                                        {
                                            i ++;
                                            <tr>
                                                <td>@i</td>       
                                                <td>@detail.Product.User.FullName</td>
                                                <td>@detail.Order.ShipTime</td>
                                                <td>@detail.Rating</td>
                                                <td>
                                                    @if (detail.Rating == 0)
                                                    {
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 1, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 2, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 3, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 4, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 5, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 6, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 7, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 8, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 9, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                        <a href="@Url.Action("Rating", "Orders", new { Id = 10, IdOrder = detail.Id })"><i class="icon-fixed-width">&#xf006;</i></a>
                                                    }
                                                    @if (detail.Rating > 0)
                                                    {
                                                        <i class="icon-fixed-width">&#xf005;</i>
                                                        if (detail.Rating > 1)
                                                        {
                                                            <i class="icon-fixed-width">&#xf005;</i>
                                                            if (detail.Rating > 2)
                                                            {
                                                                <i class="icon-fixed-width">&#xf005;</i>
                                                                if (detail.Rating > 3)
                                                                {
                                                                    <i class="icon-fixed-width">&#xf005;</i>
                                                                    if (detail.Rating > 4)
                                                                    {
                                                                        <i class="icon-fixed-width">&#xf005;</i>
                                                                        if (detail.Rating > 5)
                                                                        {
                                                                            <i class="icon-fixed-width">&#xf005;</i>
                                                                            if (detail.Rating > 6)
                                                                            {
                                                                                <i class="icon-fixed-width">&#xf005;</i>
                                                                                if (detail.Rating > 7)
                                                                                {
                                                                                    <i class="icon-fixed-width">&#xf005;</i>
                                                                                    if (detail.Rating > 8)
                                                                                    {
                                                                                        <i class="icon-fixed-width">&#xf005;</i>
                                                                                        if (detail.Rating > 9)
                                                                                        {
                                                                                            <i class="icon-fixed-width">&#xf005;</i>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }

                                                        }
                                                    }
                                                </td>
                                            </tr>
                                        }           
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
            </div>
        </div>
    </div>


</section>





