﻿@model SGU_C2CStore.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}


@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<section class="span9">

    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">Create</span> Products</h3>
            </div>
            <div class="span5 align-right sm-align-left">

            </div>
        </div>
    </div>


    <div class="row blocks-spacer">

        <div class="span3">
            <input type="file" class="multi" name="upload" id="Avartar" maxlength="5" accept="gif|jpg|png" />
                First Images is avatar
        </div>



        <div class="span6">
            <div class="product-title">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Your Product Name" , @class = "span5" } })
                
                <div class="meta">
                    @Html.EditorFor(model => model.Price, new {htmlAttributes = new { placeholder = "Your Product Price", @class = "span5" } })  
                </div>
                <div class="meta">
                    @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
                    &nbsp;
                    @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Categories, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>


            <div class="product-description">
                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { placeholder = "Your Product Price", @class = "span5" } })
            



                <form action="#" class="form form-inline clearfix">
                         
                    
                    <input type="submit" value="Create" class="btn btn-danger pull-right" />               
                </form>
                <hr />

            </div>
        </div>
    </div>

  
</section>
}
@section scripts {
    <script src="/Assets/user/js/jquery-1.10.2.min.js" type="text/javascript" language="javascript"></script>
    <script src="/Assets/user/js/jquery.MultiFile.js" type="text/javascript" language="javascript"></script>
}
