﻿@model SGU_C2CStore.Models.Product
@using SGU_C2CStore.Models
@{ 
    Photo photo = new Photo();
    List<Photo> list = ViewBag.Images;
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    string URL = Request.Url.AbsoluteUri;
}


<section class="span9">
    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">Detail</span> Product</h3>
            </div>
            <div class="span5 align-right sm-align-left">

            </div>
        </div>
    </div>
    <div class="row blocks-spacer">


        <div class="span3">
            <div class="product-preview">
                @for (int i = 0; i < list.Count; i++)
                {
                    if (i == 0)
                    {
                        <div class="picture">
                            <img src="~/Images/@list[i].URL" alt="" width="940" height="940" id="mainPreviewImg" />
                        </div>                    
                    }                   
                }
                
                <div class="thumbs clearfix">
                    @for (int i = 0; i < list.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="thumb active">
                                <a href="#mainPreviewImg"><img src="~/Images/@list[i].URL" alt="" width="940" height="940" /></a>
                            </div>
                        }
                        else
                        {
                            <div class="thumb">
                                <a href="#mainPreviewImg"><img src="~/Images/@list[i].URL" alt="" width="940" height="940" /></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>



        <div class="span6">
            <div class="product-title">
                <h1 class="name"><span class="light">@Html.DisplayFor(model => model.Name)</span></h1>
                <div class="meta">
                    <span class="tag">@Html.DisplayFor(model => model.Price)</span>
                    
                </div>
            </div>
            <div class="product-description">
                <div class="span4">
                    @Html.DisplayFor(model => model.Category.Name)
                    <br />
                    <span class="zocial-guest"></span> @Html.DisplayFor(model => model.User.FullName)
                </div>
                
                <form action="#" class="form form-inline clearfix">
                    <a href="@Url.Action("AddToCart","ShoppingCart",new {id = Model.Id,returnUrl = URL})" class="btn btn-danger pull-right"><i class="icon-shopping-cart"></i> &nbsp; Add To Cart</a>
                </form>
                <hr />


            </div>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#tab-1" data-toggle="tab">@Html.DisplayNameFor(model => model.Description)</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="fade in tab-pane active" id="tab-1">
                    <h3>@Html.DisplayFor(model => model.Name)</h3>

                    <p>@Html.DisplayFor(model => model.Description)</p>

                </div>            
            </div>
        </div>
    </div>
</section>


