﻿@model PagedList.IPagedList<SGU_C2CStore.Models.Product>

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using SGU_C2CStore.Models
@using Microsoft.AspNet.Identity
@{

    Photo photo = new Photo();
    List<Photo> list;
    list = ViewBag.Avatar as List<Photo>;
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    string URL = Request.Url.AbsoluteUri;

}



<section class="span9">

    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">All</span> Products</h3>
            </div>
            <div class="span5 align-right sm-align-left">
                <div class="form-inline sorting-by" id="tourStep4">
                    <label for="isotopeSorting" class="black-clr">Sắp xếp:</label>
                    <label>@Html.ActionLink("  Tên  ", "Index", new { sortOrder = ViewBag.NameSort, currentSearch = ViewBag.CurrentSearch })</label>
                    <label> | </label>
                    <label>@Html.ActionLink("  Giá  ", "Index", new { sortOrder = ViewBag.PriceSort, currentSearch = ViewBag.CurrentSearch })</label>
                    <label> | </label>
                    <label>@Html.ActionLink("  Ngày Đăng  ", "Index", new { sortOrder = ViewBag.DateSort, currentSearch = ViewBag.CurrentSearch })</label>

                </div>
                <div class="view-switch">
                    <a href="shop.html" class="btn btn-primary"><i class="icon-th"></i></a>
                    <a href="shop-list-view.html" class="btn"><i class="icon-list"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="row popup-products">
        <div>
            @foreach (var item in Model)
            {
                List<Photo> listPhoto = list.Where(i => i.ProductId == item.Id).ToList();

                <div class="span3">
                    <div class="product">
                        <div class="product-inner">
                            <div class="stamp red">@item.ProductStatus</div>
                            <div class="product-img">
                                <div class="picture">
                                    <a href="product.html"><img width="540" height="374" alt="" src="~/Images/@listPhoto[0].URL" /></a>
                                    <div class="img-overlay">
                                        <a class="btn more btn-primary" href="@Url.Action("Details", new {id =item.Id})">More</a>
                                        @if (Request.IsAuthenticated)
                                        {
                                            if (item.UserId != User.Identity.GetUserId() || !Request.IsAuthenticated)
                                            {
                                                <a class="btn buy btn-danger" href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.Id, returnUrl = URL })">Add to Cart</a>
                                            }
                                            if (item.UserId == User.Identity.GetUserId())
                                            {
                                                <a class="btn buy ">Add to Cart</a>
                                            }
                                        }                                      
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles no-margin">
                                <h4 class="title"><i class="icon-fixed-width">&#xf07a;</i><span>@Html.DisplayFor(modelItem => item.Price)</span></h4>
                                <h5 class="no-margin"><i class="icon-fixed-width">&#xf101;</i>@Html.DisplayFor(modelItem => item.Name)</h5>
                            </div>

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <hr />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentSearch = ViewBag.CurrentSearch, currentcateId = ViewBag.CurrentFilter }))
</section>
