﻿@model IEnumerable<SGU_C2CStore.Models.Product>
@using SGU_C2CStore.Models
@{
    Photo photo = new Photo();
    List<Photo> list;
    list = ViewBag.Avatar as List<Photo>;
    ViewBag.Title = "Index";
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="span9">



    <div class="underlined push-down-20">
        <div class="row">
            <div class="span4">
                <h3><span class="light">All</span> Products</h3>
            </div>
            <div class="span5 align-right">
                <div class="form-inline sorting-by" id="tourStep4">
                    <label for="isotopeSorting" class="black-clr">Sort:</label>
                    <select id="isotopeSorting" class="span3">
                        <option value='{"sortBy":"price", "sortAscending":"true"}'>By Price (Low to High) &uarr;</option>
                        <option value='{"sortBy":"price", "sortAscending":"false"}'>By Price (High to Low) &darr;</option>
                        <option value='{"sortBy":"name", "sortAscending":"true"}'>By Name (Low to High) &uarr;</option>
                        <option value='{"sortBy":"name", "sortAscending":"false"}'>By Name (High to Low) &darr;</option>
                        <option value='{"sortBy":"popularity", "sortAscending":"true"}'>By Popularity (Low to High) &uarr;</option>
                        <option value='{"sortBy":"popularity", "sortAscending":"false"}'>By Popularity (High to Low) &darr;</option>
                    </select>
                </div>
                <div class="view-switch">
                    <a href="shop.html" class="btn"><i class="icon-th"></i></a>
                    <a href="shop-list-view.html" class="btn btn-primary"><i class="icon-list"></i></a>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div>

@foreach (var item in Model)
{

    List<Photo> listPhoto = list.Where(i => i.ProductId == item.Id).ToList();

            <div class="span9">
                <div class="product">
                    <div class="row">
                        <div class="span3">
                            <div class="product-img">
                                <div class="picture">
                                    <div class="stamp red">@item.ProductStatus</div>
                                    <a href="product.html"><img width="540" height="374" alt="" src="~/Images/@listPhoto[0].URL" /></a>
                                    <div class="img-overlay">
                                        <a class="btn more btn-primary" href="@Url.Action("Details", new {id =item.Id})">More</a>                                  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="main-titles no-margin">
                                <h5 class="isotope--title"><a href="@Url.Action("Details", new {id =item.Id})">@Html.DisplayFor(modelItem => item.Name)</a></h5>
                                <div class="meta-data">
                                    <span class="price">$626</span>
                                    <a href="#" class="btn btn-small"><i class="icon-heart"></i></a>
                                    <a href="#" class="btn btn-small"><i class="icon-exchange"></i></a>
                                    &nbsp;
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star stars-clr"></span>
                                    <span class="icon-star"></span>
                                    <span class="icon-star"></span>
                                </div>
                            </div>
                            <p class="desc">@Html.DisplayFor(modelItem => item.Description).</p>
                        </div>
                    </div>
                </div>
            </div>

}

        </div>
    </div>
    <hr />
</section>  