﻿@using SGU_C2CStore.Models
@{
    List<Product> listProducts = ViewBag.Products as List<Product>;
    List<Photo> listPhotos = ViewBag.Avatar as List<Photo>;
    ViewBag.Title = "Manage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int stt = 0;

}

<h2 class="page-title">Manage <span class="fw-semi-bold">Product</span></h2>
<div class="row">
    <div class="col-md-12">
        <section class="widget">
            <header>
                <div class="widget-controls">
                    <a href="#"><i class="glyphicon glyphicon-cog"></i></a>
                    <a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="hidden-xs">#</th>
                            <th class="hidden-xs">IMAGES</th>
                            <th>PRODUCT NAME</th>
                            <th class="hidden-xs">INFO</th>
                            <th class="hidden-xs">SELLER</th>      
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listProducts != null) { 
                        foreach (Product product in listProducts)
                        {
                            stt = stt + 1;
                            List<Photo> list = listPhotos.Where(p => p.Product == product).ToList();
                            <tr>
                                <td class="hidden-xs">@stt</td>
                                <td>
                                    <img class="img-rounded" src="~/Images/@list[0].URL" alt="" height="50">
                                </td>
                                <td>
                                    @product.Name
                                    <br />
                                    <span class="label label-danger">@product.ProductStatus !</span>
                                </td>
                                <td class="hidden-xs">
                                    <p class="no-margin">
                                        <small>
                                            <span class="fw-semi-bold">Price:</span>
                                            <span class="text-muted">&nbsp; @product.Price</span>
                                        </small>
                                    </p>
                                    <p>
                                        <small>
                                            <span class="fw-semi-bold">Date Create:</span>
                                            <span class="text-muted">&nbsp; @product.DateCreate</span>
                                        </small>
                                    </p>
                                </td>
                                <td class="hidden-xs text-muted">
                                    @product.User.FullName
                                </td>
                                
                                <td class="hidden-xs">  
                                        <div class="btn-group">
                                            
                                            @if (product.ProductStatus != ProductStatus.Denied)
                                            {
                                                if (product.ProductStatus == ProductStatus.Checking)
                                                {
                                                    <input type="button" value="Access" class="btn btn-danger" onclick="location.href='@Url.Action("AllowProduct", "Products", new { productID = product.Id })'" />
                                                    <input type="button" value="Deny" class="btn btn-success" onclick="location.href='@Url.Action("DenyProduct", "Products", new { productID = product.Id})'" />
                                                }
                                                if (product.ProductStatus != ProductStatus.Checking)
                                                {
                                                <input type="button" value="Access" class="btn btn-danger" disabled onclick="location.href='@Url.Action("AllowProduct", "Products", new { productID = product.Id })'"/>
                                                <input type="button" value="Deny" class="btn btn-success" onclick="location.href='@Url.Action("DenyProduct", "Products", new { productID = product.Id })'" />
                                                }
                                            }
                                            @if (product.ProductStatus == ProductStatus.Denied)
                                            {
                                                <input type="button" value="Access" class="btn btn-danger" onclick="location.href='@Url.Action("AllowProduct", "Products", new { productID = product.Id })'" />
                                                <input type="button" value="Deny" class="btn btn-success" disabled onclick="location.href='@Url.Action("DenyProduct", "Products", new { productID = product.Id})'" />
                                            }
                                        </div>  
                                </td>
                            </tr>

                        }
                        }
                    </tbody>

                </table>
                <div class="clearfix">
                </div>
            </div>
        </section>
    </div>
</div>
