﻿@model IEnumerable<SGU_C2CStore.Models.Product>
@using SGU_C2CStore.Models
@{
    ApplicationDbContext db = new ApplicationDbContext();
    ViewBag.Title = "Home Page";
    Photo photo = new Photo();
    List<Photo> list = db.Photos.ToList();
    var listProduct = ViewBag.products as List<Product>;
    var listAuction = ViewBag.auctions as List<AuctionProduct>;
    string URL = Request.Url.AbsoluteUri;
    
}

<div class="fullwidthbanner-container">
    <div class="fullwidthbanner">
        <ul>
            <li data-transition="premium-random" data-slotamount="3">
                <img src="/Assets/user/images/dummy/slides/1/slide.jpg" alt="slider img" width="1400" height="377" />

                <div class="caption lft ltt" data-x="570" data-y="50" data-speed="4000" data-start="1000" data-easing="easeOutElastic">
                    <img src="/Assets/user/images/dummy/slides/1/baloon1.png" alt="baloon" width="135" height="186" />
                </div>
                <div class="caption lft ltt" data-x="770" data-y="60" data-speed="4000" data-start="1200" data-easing="easeOutElastic">
                    <img src="/Assets/user/images/dummy/slides/1/baloon3.png" alt="baloon" width="40" height="55" />
                </div>
                <div class="caption lft ltt" data-x="870" data-y="80" data-speed="4000" data-start="1500" data-easing="easeOutElastic">
                    <img src="/Assets/user/images/dummy/slides/1/baloon2.png" alt="baloon" width="60" height="83" />
                </div>

                <div class="caption lfl big_theme" data-x="120" data-y="120" data-speed="1000" data-start="500" data-easing="easeInOutBack">
                    With Webmarket, the Sky Is the Limit
                </div>
                <div class="caption lfl small_theme" data-x="120" data-y="190" data-speed="1000" data-start="700" data-easing="easeInOutBack">
                    Take a tour on Webmarket HTML Template
                </div>
                <a href="features.html" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                    ALL THEME FEATURES
                </a>
            </li>
            <li data-transition="premium-random" data-slotamount="3">
                <img src="/Assets/user/images/dummy/slides/2/slide.jpg" alt="slider img" width="1400" height="377" />

                <div class="caption lfb ltb" data-x="800" data-y="50" data-speed="1000" data-start="1000" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/2/woman.png" alt="woman" width="361" height="374" />
                </div>

                <div class="caption lfl str" data-x="400" data-y="20" data-speed="10000" data-start="1000" data-easing="linear">
                    <img src="/Assets/user/images/dummy/slides/2/plane.png" alt="aircraft" width="117" height="28" />
                </div>

                <div class="caption lfl big_theme" data-x="120" data-y="120" data-speed="1000" data-start="500" data-easing="easeInOutBack">
                    Slider Revolution
                </div>
                <div class="caption lfl small_theme" data-x="120" data-y="190" data-speed="1000" data-start="700" data-easing="easeInOutBack">
                    This premium slider comes with the theme, as a bonus, for FREE!
                </div>
                <a href="features.html" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                    AND MANY MORE ...
                </a>
            </li>
            <li data-transition="premium-random" data-slotamount="3">
                <img src="/Assets/user/images/dummy/slides/3/slide.jpg" alt="slider img" width="1400" height="377" />

                <div class="caption sfr fadeout" data-x="950" data-y="77" data-speed="1000" data-start="2500" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/3/phone.png" alt="phone in a hand" width="495" height="377" />
                </div>

                <div class="caption lfl big_theme" data-x="120" data-y="120" data-speed="1000" data-start="500" data-easing="easeInOutBack">
                    We Are Mobile Ready
                </div>
                <div class="caption lfl small_theme" data-x="120" data-y="190" data-speed="1000" data-start="700" data-easing="easeInOutBack">
                    Try to resize the browser window. The Webmarket will look awesome no matter the device screen resolution!
                </div>
                <a href="icons.html" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="260" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                    And also all the icons are retina-ready...
                </a>
            </li>
            <li data-transition="premium-random" data-slotamount="3">
                <img src="/Assets/user/images/dummy/slides/4/slide.jpg" alt="slider img" width="1400" height="377" />

                <div class="caption lft ltt" data-x="-150" data-y="0" data-speed="300" data-start="2000" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person1.png" alt="satisfied customer" width="108" height="204" />
                </div>
                <div class="caption lft ltt" data-x="0" data-y="0" data-speed="300" data-start="2200" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person2.png" alt="satisfied customer" width="108" height="321" />
                </div>
                <div class="caption lft ltt" data-x="500" data-y="0" data-speed="300" data-start="2400" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person3.png" alt="satisfied customer" width="108" height="139" />
                </div>
                <div class="caption lft ltt" data-x="720" data-y="0" data-speed="300" data-start="2600" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person4.png" alt="satisfied customer" width="108" height="191" />
                </div>
                <div class="caption lft ltt" data-x="940" data-y="0" data-speed="300" data-start="2800" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person5.png" alt="satisfied customer" width="108" height="139" />
                </div>
                <div class="caption lft ltt" data-x="1200" data-y="0" data-speed="300" data-start="3000" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person6.png" alt="satisfied customer" width="108" height="179" />
                </div>
                <div class="caption lft ltt" data-x="1350" data-y="0" data-speed="300" data-start="3200" data-easing="easeInOutCubic">
                    <img src="/Assets/user/images/dummy/slides/4/person7.png" alt="satisfied customer" width="108" height="133" />
                </div>

                <div class="caption lfl big_theme" data-x="120" data-y="140" data-speed="1000" data-start="500" data-easing="easeInOutBack">
                    Over 1000 Satisfied Customers
                </div>
                <div class="caption lfl small_theme" data-x="120" data-y="210" data-speed="1000" data-start="700" data-easing="easeInOutBack">
                    Take a look at our profile page on the <a href="http://themeforest.net/user/ProteusThemes" target="_blank">ThemeForest</a>!
                </div>
                <a href="http://support.proteusthemes.com/" class="caption lfl btn btn-primary btn_theme" data-x="120" data-y="280" data-speed="1000" data-start="900" data-easing="easeInOutBack">
                    We provide support
                </a>
            </li>
        </ul>
        <div class="tp-bannertimer"></div>
    </div>



    <div id="sliderRevLeft"><i class="icon-chevron-left"></i></div>
    <div id="sliderRevRight"><i class="icon-chevron-right"></i></div>
</div>



<div class="container">
    <div class="row">
        <div class="span12">
            <div class="push-up over-slider blocks-spacer">



                <div class="row">
                    <div class="span12">
                        <a href="#" class="btn btn-block banner">
                            <span class="title"><span class="light">SUMMER</span> SALE</span>
                            <em>up to 60% off on all shoes</em>
                        </a>              
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row featured-items blocks-spacer">
        <div class="span12">



            <div class="main-titles lined">
                <h2 class="title"><span class="light">Featured</span> Products</h2>
                <div class="arrows">
                    <a href="#" class="icon-chevron-left" id="featuredItemsLeft"></a>
                    <a href="#" class="icon-chevron-right" id="featuredItemsRight"></a>
                </div>
            </div>
        </div>
        <div class="span12">



            <div class="carouFredSel" data-autoplay="false" data-nav="featuredItems">

    <div class="slide">
        <div class="row">
            @foreach (var item in listAuction)
            {
                int i = 0;
                if (i < 3)
                {
                    i++;
                    List<Photo> listPhoto = list.Where(p => p.ProductId == item.Id).ToList();
                    var time = string.Format("{0:yyyy/MM/dd H:mm:ss}", item.EndTime);
                    <div name="txtID" id="@item.Id" value="@item" class="span4">
                        <div name="txtTime" id="@time" class="product">
                            <div class="product-img featured">
                                <div class="picture">
                                    <a href="@Url.Action("Details", "Auction", new { id = item.Id })"><img src="~/Images/@listPhoto[0].URL" alt="" width="518" height="358" /></a>
                                    <div class="img-overlay">
                                        <a href="@Url.Action("Details", "Auction", new { id = item.Id })" class="btn more btn-primary">Bid</a>
                                    </div>
                                </div>
                            </div>
                            <div class="main-titles">
                                <span name="" data-itemid="@item.Id" class="title">@item.Price</span>
                                <h5 class="no-margin"><a href="@Url.Action("Details", "Auction", new { id = item.Id })">@item.Name</a></h5>
                            </div>
                            <div class="countdown" id="@item.Id">
                                <span id="@item.Id"></span>
                            </div>
                        </div>
                    </div>                
                        }
                        }

                   </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="boxed-area blocks-spacer">
    <div class="container">



        <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                    <h2 class="title"><span class="light">New</span> Products in the Shop</h2>
                </div>
            </div>
        </div>
        <div class="row popup-products blocks-spacer">

            @foreach (Product item in listProduct)
            {
                int e = 0;
                List<Photo> listPhoto = list.Where(p => p.ProductId == item.Id).ToList();
                if (e < 8){
                    e++;
            <div class="span3">
                <div class="product">
                    <div class="product-inner">
                        <div class="stamp red"> @item.ProductStatus</div>
                        <div class="product-img">
                            <div class="picture">
                                <a href="@Url.Action("Details","Products", new { id = item.Id })"><img src="~/Images/@listPhoto[0].URL" alt="" width="540" height="374" /></a>
                                <div class="img-overlay">
                                    <a href="@Url.Action("Details","Products", new { id = item.Id })" class="btn more btn-primary">More</a>
                                    <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.Id, returnUrl = URL })" class="btn buy btn-danger">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <h4 class="title">@item.Price</h4>
                            <h5 class="no-margin">@item.Name</h5>
                        </div>
                        <p class="desc">@item.Description</p>
                    </div>
                </div>
            </div> 
                    if(e == 4)
                    {
            <div class="clearfix"></div>
                    }
                    @*else
                    {
                    <div class="span3">
                        <div class="product">
                            <div class="product-inner">
                                <div class="stamp red"> @item.ProductStatus</div>
                                <div class="product-img">
                                    <div class="picture">
                                        <a href="@Url.Action("Details", new { id = item.Id })"><img src="~/Images/@listPhoto[0].URL" alt="" width="540" height="374" /></a>
                                        <div class="img-overlay">
                                            <a href="@Url.Action("Details", new { id = item.Id })" class="btn more btn-primary">More</a>
                                            <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.Id, returnUrl = URL })" class="btn buy btn-danger">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="main-titles no-margin">
                                    <h4 class="title">@item.Price</h4>
                                    <h5 class="no-margin">@item.Name</h5>
                                </div>
                                <p class="desc">@item.Description</p>                          
                            </div>
                        </div>
                    </div>*@
                        }
                }
            

        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.countdown.js"></script>
    <script type="text/javascript">
        @*document.getElementById('abcId').value
    var time = '@string.Format("{0:yyyy/MM/dd H:mm:ss}",Model.EndTime)'*@
        var id = document.formName.elements['txtID'].id;
        var time = document.formName.elements['txtID'].id;
    $("#'"+id+"'").countdown(time)
     .on('update.countdown', function(event) {
         var format = '%H:%M:%S';
          if(event.offset.days > 0) {
                 format = '%-d day%!d ' + format;
               }
           if(event.offset.weeks > 0) {
                format = '%-w week%!w ' + format;
               }
           $(this).html(event.strftime(format));
         })
    .on('finish.countdown', function(event) {
           $(this).html('Stoped!')
             .parent().addClass('disabled');
           $.post("@Url.Action("Stop","Auction")", { id : id} ,function(data){
               alert(data);
           });
        });

    </script>
}











